/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
License: none (public domain)
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html, body, footer {
  display: block;
  min-height: 100%;
}
body {
  line-height: 1.2;
  font-family: sans-serif;
  color: black;
  background-color: #eeeeee;
}
ol, ul, dd {
  margin-left: 2em;
}
dt {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #ff7104;
}
a:visited {
  color: #9d4400;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
abbr[title] {
  border-bottom: 1px dashed;
}
acronym[title] {
  border-bottom: 1px dashed;
}
ins {
  background-color: rgba(0, 255, 0, 0.3);
  text-decoration: none;
}
del {
  background-color: rgba(255, 0, 0, 0.3);
}
code {
  font-family: monospace;
}
#header {
  padding: 1em;
  border-bottom: 3px solid black;
  background-color: #ff7104;
}
#header h1 {
  position: relative;
  padding: 0 1em 0 3em;
  margin-left: 18em;
  padding-left: 2em;
}
#header h1 a {
  font-size: 2em;
  color: inherit;
  text-decoration: none;
  display: block;
  padding-top: 1em;
}
#header h1 img {
  position: absolute;
  top: 0px;
  right: 100%;
  height: 100%;
  border-radius: 2px;
}
#header h1 .description {
  display: block;
}
#content {
  clear: both;
  padding: 1em;
  position: relative;
  overflow: hidden;
  background-color: white;
  text-align: justify;
}
#content h2,
#content h3,
#content h4,
#content h5,
#content h6,
#content p,
#content ul,
#content ol,
#content dl,
#content table,
#content div.media,
#content blockquote,
#content pre {
  margin-bottom: 1em;
}
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  border-bottom: 2px solid black;
}
#content h2 {
  font-size: 1.5em;
}
#content h3 {
  font-size: 1.3em;
}
#content h4 {
  font-size: 1.1em;
}
#content h5 {
  font-size: 1em;
  font-weight: bold;
}
#content h6 {
  font-size: 1em;
}
#content blockquote, #content pre {
  position: relative;
  padding: 1em;
  background-color: #eeeeee;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
}
#content blockquote + cite {
  display: block;
  text-align: right;
  font-style: italic;
  margin-top: -1em;
}
#content blockquote + cite:before {
  content: '— ';
}
#content blockquote :last-child {
  margin-bottom: 0;
}
article {
  margin-left: 20em;
  margin-bottom: 8em;
  line-height: 1.4;
}
article .meta {
  float: left;
  margin-left: -22em;
  width: 20em;
  text-align: right;
}
article .meta p {
  margin-bottom: 0.5em;
}
article .meta p.tags a {
  display: inline-block;
  margin: 0.2em 0px;
  border-radius: 3px;
  background-color: #eeeeee;
  padding: 3px 6px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  color: black;
}
article div.media {
  position: relative;
  padding: 1em;
  background-color: #eeeeee;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  text-align: center;
}
article div.media img {
  max-width: 100%;
}
footer {
  font-color: #333;
  border-top: 3px solid black;
  border-radius: 3px;
  padding: 1em;
  overflow: hidden;
}
footer div.inner {
  margin-left: 20em;
  position: relative;
}
footer section {
  font-size: 0.9em;
  width: 49%;
  margin-right: 1%;
  float: left;
}
footer section::last-child {
  margin-right: 0%;
}
footer section ul {
  list-style-type: none;
  margin-left: 0em;
  margin-bottom: 1em;
}
footer section form {
  margin-bottom: 1em;
}
