html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: black;
  font-family: sans-serif;
  color: #e6e6e6;
  padding-top: 10px;
  background: url('img/bg.png') top left no-repeat #000000;
  font-size: 0.9em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1.125em;
}
h6 {
  font-size: 1em;
}
p,
ul,
ol,
table,
pre {
  margin-bottom: 1.5em;
}
pre,
code {
  font-family: "DejaVu Sans Mono", "Droid Sans Mono", monospace, serif;
}
a {
  color: #5480a3;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
ul,
ol {
  margin-left: 2em;
}
ul li,
ol li {
  margin-bottom: 0.5em;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: numeric;
}
.container {
  margin: 0 0 10px;
}
header {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  background-color: white;
}
header h1,
header h2,
header h3,
header h4,
header h5,
header h6,
header a {
  color: black;
}
header.page-header {
  overflow: hidden;
  padding: 10px;
}
header.page-header h1 {
  font-size: 3em;
  vertical-align: middle;
  margin-bottom: 0;
  display: inline-block;
  margin-right: 10px;
}
nav.site ul {
  display: inline;
  list-style-type: none;
  margin-left: 0;
}
nav.site ul li {
  display: inline;
}
nav.site ul li a {
  margin-right: 10px;
  display: inline-block;
  padding: 5px 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  vertical-align: middle;
}
section,
header.page-header {
  margin-bottom: 40px;
}
article.blog-post {
  position: relative;
}
.squares {
  overflow: hidden;
}
.squares .square {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  color: white;
}
a.block-link {
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding: 10px;
  position: absolute;
  text-decoration: none;
}
pre,
blockquote {
  border-left: 1px #5480a3 solid;
  padding-left: 10px;
}
pre .str,
code .str {
  color: #d7005f;
}
/* string  - green */
pre .kwd,
code .kwd {
  color: #00d700;
}
/* keyword - dark pink */
pre .com,
code .com {
  color: #54ffff;
}
/* comment - gray */
pre .typ,
code .typ {
  color: #005fd7;
}
/* type - light blue */
pre .lit,
code .lit {
  color: #af5f00;
}
/* literal - blue */
pre .dec,
code .dec {
  color: #d401fb;
}
/* decimal - blue */
pre .pun,
code .pun {
  color: #b0b0b0;
}
/* punctuation - white */
pre .pln,
code .pln {
  color: #b0b0b0;
}
/* plaintext - white */
pre .tag,
code .tag {
  color: #89bdff;
}
/* html/xml tag    - light blue */
pre .atn,
code .atn {
  color: #bdb76b;
}
/* html/xml attribute name  - khaki */
pre .atv,
code .atv {
  color: #65B042;
}
/* html/xml attribute value - green */
.coloured.square a,
.coloured header a,
.coloured.square .block-link-faker,
.coloured header .block-link-faker,
.coloured.square h1,
.coloured header h1,
.coloured.square h2,
.coloured header h2,
.coloured.square h3,
.coloured header h3,
.coloured.square h4,
.coloured header h4,
.coloured.square h5,
.coloured header h5,
.coloured.square h6,
.coloured header h6 {
  color: black;
}
.colour0 h2,
.colour0 h3,
.colour0 h4,
.colour0 h5,
.colour0 h6,
.colour0 a,
.colour0 .block-link-faker {
  color: #df2020;
}
.colour0 pre,
.colour0 blockquote {
  border-left-color: #df2020;
}
.colour0.square,
.colour0 header {
  background-color: #df2020;
}
.colour1 h2,
.colour1 h3,
.colour1 h4,
.colour1 h5,
.colour1 h6,
.colour1 a,
.colour1 .block-link-faker {
  color: #df5320;
}
.colour1 pre,
.colour1 blockquote {
  border-left-color: #df5320;
}
.colour1.square,
.colour1 header {
  background-color: #df5320;
}
.colour2 h2,
.colour2 h3,
.colour2 h4,
.colour2 h5,
.colour2 h6,
.colour2 a,
.colour2 .block-link-faker {
  color: #df8620;
}
.colour2 pre,
.colour2 blockquote {
  border-left-color: #df8620;
}
.colour2.square,
.colour2 header {
  background-color: #df8620;
}
.colour3 h2,
.colour3 h3,
.colour3 h4,
.colour3 h5,
.colour3 h6,
.colour3 a,
.colour3 .block-link-faker {
  color: #dfb920;
}
.colour3 pre,
.colour3 blockquote {
  border-left-color: #dfb920;
}
.colour3.square,
.colour3 header {
  background-color: #dfb920;
}
.colour4 h2,
.colour4 h3,
.colour4 h4,
.colour4 h5,
.colour4 h6,
.colour4 a,
.colour4 .block-link-faker {
  color: #d2df20;
}
.colour4 pre,
.colour4 blockquote {
  border-left-color: #d2df20;
}
.colour4.square,
.colour4 header {
  background-color: #d2df20;
}
.colour5 h2,
.colour5 h3,
.colour5 h4,
.colour5 h5,
.colour5 h6,
.colour5 a,
.colour5 .block-link-faker {
  color: #9fdf20;
}
.colour5 pre,
.colour5 blockquote {
  border-left-color: #9fdf20;
}
.colour5.square,
.colour5 header {
  background-color: #9fdf20;
}
.colour6 h2,
.colour6 h3,
.colour6 h4,
.colour6 h5,
.colour6 h6,
.colour6 a,
.colour6 .block-link-faker {
  color: #6cdf20;
}
.colour6 pre,
.colour6 blockquote {
  border-left-color: #6cdf20;
}
.colour6.square,
.colour6 header {
  background-color: #6cdf20;
}
.colour7 h2,
.colour7 h3,
.colour7 h4,
.colour7 h5,
.colour7 h6,
.colour7 a,
.colour7 .block-link-faker {
  color: #39df20;
}
.colour7 pre,
.colour7 blockquote {
  border-left-color: #39df20;
}
.colour7.square,
.colour7 header {
  background-color: #39df20;
}
.colour8 h2,
.colour8 h3,
.colour8 h4,
.colour8 h5,
.colour8 h6,
.colour8 a,
.colour8 .block-link-faker {
  color: #20df39;
}
.colour8 pre,
.colour8 blockquote {
  border-left-color: #20df39;
}
.colour8.square,
.colour8 header {
  background-color: #20df39;
}
.colour9 h2,
.colour9 h3,
.colour9 h4,
.colour9 h5,
.colour9 h6,
.colour9 a,
.colour9 .block-link-faker {
  color: #20df6c;
}
.colour9 pre,
.colour9 blockquote {
  border-left-color: #20df6c;
}
.colour9.square,
.colour9 header {
  background-color: #20df6c;
}
.colour10 h2,
.colour10 h3,
.colour10 h4,
.colour10 h5,
.colour10 h6,
.colour10 a,
.colour10 .block-link-faker {
  color: #20df9f;
}
.colour10 pre,
.colour10 blockquote {
  border-left-color: #20df9f;
}
.colour10.square,
.colour10 header {
  background-color: #20df9f;
}
.colour11 h2,
.colour11 h3,
.colour11 h4,
.colour11 h5,
.colour11 h6,
.colour11 a,
.colour11 .block-link-faker {
  color: #20dfd2;
}
.colour11 pre,
.colour11 blockquote {
  border-left-color: #20dfd2;
}
.colour11.square,
.colour11 header {
  background-color: #20dfd2;
}
.colour12 h2,
.colour12 h3,
.colour12 h4,
.colour12 h5,
.colour12 h6,
.colour12 a,
.colour12 .block-link-faker {
  color: #20b9df;
}
.colour12 pre,
.colour12 blockquote {
  border-left-color: #20b9df;
}
.colour12.square,
.colour12 header {
  background-color: #20b9df;
}
.colour13 h2,
.colour13 h3,
.colour13 h4,
.colour13 h5,
.colour13 h6,
.colour13 a,
.colour13 .block-link-faker {
  color: #2086df;
}
.colour13 pre,
.colour13 blockquote {
  border-left-color: #2086df;
}
.colour13.square,
.colour13 header {
  background-color: #2086df;
}
.colour14 h2,
.colour14 h3,
.colour14 h4,
.colour14 h5,
.colour14 h6,
.colour14 a,
.colour14 .block-link-faker {
  color: #2053df;
}
.colour14 pre,
.colour14 blockquote {
  border-left-color: #2053df;
}
.colour14.square,
.colour14 header {
  background-color: #2053df;
}
.colour15 h2,
.colour15 h3,
.colour15 h4,
.colour15 h5,
.colour15 h6,
.colour15 a,
.colour15 .block-link-faker {
  color: #2020df;
}
.colour15 pre,
.colour15 blockquote {
  border-left-color: #2020df;
}
.colour15.square,
.colour15 header {
  background-color: #2020df;
}
.colour16 h2,
.colour16 h3,
.colour16 h4,
.colour16 h5,
.colour16 h6,
.colour16 a,
.colour16 .block-link-faker {
  color: #5320df;
}
.colour16 pre,
.colour16 blockquote {
  border-left-color: #5320df;
}
.colour16.square,
.colour16 header {
  background-color: #5320df;
}
@media only screen and (min-width: 640px) {
  .container {
    width: 640px;
    margin: 0px auto 10px;
  }
  .squares {
    margin-right: -10px;
  }
  .squares .square {
    position: relative;
    width: 206.66666666666666px;
    height: 206.66666666666666px;
    margin-right: 10px;
    float: left;
  }
  .squares .double-width.square {
    width: 423.3333333333333px;
  }
  nav.site {
    display: inline;
  }
  article.blog-post header {
    overflow: hidden;
  }
  article.blog-post header h2,
  article.blog-post header h3,
  article.blog-post header h4,
  article.blog-post header h5,
  article.blog-post header h6 {
    float: left;
  }
  article.blog-post header .blog-post-meta {
    float: right;
  }
  footer .row {
    margin-right: -10px;
  }
  footer .row section {
    float: left;
    width: 315px;
  }
}
@media only screen and (min-width: 980px) {
  .container {
    width: 980px;
    margin: 0px auto 10px;
  }
  .squares {
    margin-right: -10px;
  }
  .squares .square {
    position: relative;
    width: 188px;
    height: 188px;
    margin-right: 10px;
    float: left;
  }
  .squares .double-width.square {
    width: 386px;
  }
  footer .row {
    margin-right: -10px;
  }
  footer .row section {
    float: left;
    width: 485px;
  }
}
